:root {
  --try-color: #4d5ae5;
  --navyblue: #2e2f42;
  --secondary-color: #fff;
  --pramery-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Roboto', serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.menu-link {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--try-color);
}

.list {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.blue-logo {
  color: var(--try-color);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logotype {
  color: var(--navyblue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
