* {
    font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.blue-text {
    color: var(--iris, #4D5AE5);
    font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.logotype {
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.menu-link {
    color: var(--navyblue, #2E2F42);
    
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:focus {
    color: #4D5AE5;
}

.address-list {
    color: var(--slate, #434455);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}