:root {
  --try-color: #4d5ae5;
  --navyblue: #2e2f42;
  --secondary-color: #fff;
  --pramery-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Roboto', serif;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.menu-link {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.list {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.blue-logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
}

.logo-studio {
  color: #2e2f42;
}

.logotype {
  color: var(--navyblue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
}

.page-address {
  font-style: normal;
}

.menu-address {
  color: #434455;
}

.menu-address:hover,
.menu-address:focus {
  color: #404bbf;
}
